@charset "UTF-8";
body {
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #ffffff, #bbbb88ef, #9a9acad5);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #0e3364af;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    max-width: 970px;
    margin: 0 auto;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 25px;
}

section h2{
    margin: 0px 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

article h2 {
    background-color: #0e3364af;
    margin-top: 0;
    font-size: 17px;
    border-radius: 12px;
}

article ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

footer {
    background-color: #0e3364af;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    max-width: 970px;
    margin: 0 auto;
    border-radius: 10px;
}

